PORT=4000
NODE_ENV=development

// change the URL to port number 5433 if facing issue "ERRCONN"
DATABASE_URL=postgres://postgres:postgres@localhost:5432/web_researcher

// Other providers are not yet supported
OPENROUTER_API_KEY=


OPENROUTER_MODEL=nvidia/nemotron-3-super-120b-a12b:free
